/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/06/2016, 07:36:20 PM
    Author     : Manuel
*/

/* Para 1024px */  
@media only screen and (min-width: 1225px) {  
    #opcionesIndexMenu{
        background-color: #1565C0;
        width: auto;
    }
    #sub-menu{
        color: black;
    }
    #cpp{
        display: block;
    }
    #cpp-sm{
        display: none;
    }
    #cpp-sm-panel{
        display: none;
    }
    #cpp-md{
        display: none;
    }
    #cpp-md-panel{
        display: block;
    }
}


/* Para 1024px */  
@media only screen and (max-width: 1224px) and (min-width: 1024px) {  
    #opcionesIndexMenu{
        background-color: #1565C0;
        width: auto;
    }
    #sub-menu{
        color: black;
    }
    #cpp{
        display: none;
    }
    #cpp-sm{
        display: block;
    }
    #cpp-sm-panel{
        display: none;
    }
    #cpp-md{
        display: none;
    }
    #cpp-md-panel{
        display: block;
    }
} 


/* Para 1024px */  
@media only screen and (max-width: 1024px) and (min-width: 981px) {  
    #opcionesIndexMenu{
        background-color: #1565C0;
        width: auto;
    }
    #sub-menu{
        color: black;
    }
    #cpp{
        display: none;
    }
    #cpp-sm{
        display: block;
    }
    #cpp-sm-panel{
        display: none;
    }
    #cpp-md{
        display: none;
    }
    #cpp-md-panel{
        display: block;
    }
} 

/* Para 960px */  
@media only screen and (max-width: 980px) and (min-width: 821px) {  
    #opcionesIndexMenu{
        background-color: #1565C0;
        width: auto;
    }
    #sub-menu{
        color: black;
    }
    #cpp{
        display: none;
    }
    #cpp-sm{
        display: block;
    }
    #cpp-sm-panel{
        display: none;
    }
    #cpp-md{
        display: none;
    }
    #cpp-md-panel{
        display: block;
    }
}  

/* Para 800px */  
@media only screen and (max-width: 820px) and (min-width: 766px) {  
    #opcionesIndexMenu{
        background-color: #1565C0;
        width: auto;
    }
    #sub-menu{
        color: black;
    }
    #cpp{
        display: none;
    }
    #cpp-sm{
        display: block;
    }
    #cpp-sm-panel{
        display: none;
    }
    #cpp-md{
        display: none;
    }
    #cpp-md-panel{
        display: block;
    }
}  

/* Para 800px */  
@media only screen and (max-width: 765px) and (min-width: 621px) {  
    #opcionesIndexMenu{
        background-color: #1565C0;
        width: auto;
    }
    #sub-menu{
        color: white;
        font-size: 12pt;
    }
    #cpp{
        display: none;
    }
    #cpp-sm{
        display: block;
    }
    #cpp-sm-panel{
        display: block;
    }
    #cpp-md{
        display: none;
    }
    #cpp-md-panel{
        display: none;
    }
} 


/* Para 600px */  
@media only screen and (max-width: 620px) and (min-width: 501px) {  
    #logo-pagina{
        width: 100px;
        margin-left: 2px;
    }
    #opcionesIndexMenu{
        background-color: #1565C0;
        width: auto;
    }
    #sub-menu{
        color: white;
        font-size: 12pt;
    }
    #cpp{
        display: none;
    }
    #cpp-sm{
        display: block;
    }
    #cpp-sm{
        display: block;
    }
    #cpp-sm-panel{
        display: block;
    }
    #cpp-md{
        display: none;
    }
    #cpp-md-panel{
        display: none;
    }
    #slider{
        display: none;
    }
}  

/* Para 480px */  
@media only screen and (max-width: 500px) and (min-width: 341px) {  
    #logo-pagina{
        width: 100px;
        margin-left: 2px;
    }
    #opcionesIndexMenu{
        background-color: #1565C0;
        width: auto;
    }
    #sub-menu{
        color: white;
        font-size: 12pt;
    }
    #cpp{
        display: none;
    }
    #cpp-sm{
        display: block;
    }
    #cpp-sm-panel{
        display: block;
    }
    #cpp-md{
        display: none;
    }
    #cpp-md-panel{
        display: none;
    }
    #slider{
        display: none;
    }
}  

/* Para 320px */  
@media only screen and (max-width: 340px) and (min-width: 5px)  {  
    #logo-pagina{
        width: 100px;
        margin-left: 2px;
    }
    #opcionesIndexMenu{
        background-color: #1565C0;
        width: auto;
    }
    #sub-menu{
        color: white;
        font-size: 12pt;
    }
    #cpp{
        display: none;
    }
    #cpp-sm{
        display: block;
    }
    #cpp-sm-panel{
        display: block;
    }
    #cpp-md{
        display: none;
    }
    #cpp-md-panel{
        display: none;
    }
    #infoImportante{
        display: none;
    }
    #slider{
        display: none;
    }
} 